// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main{
	padding-left:25%;
	padding-top: 10%;
	color:black;

}
#main h1{
	padding-left: 10%;
	font-size: 70px;
	font-family: impact;
	font-variant:small-caps;

}
#main p{
	position: relative;
	margin-top: 10px;
	font-family: Baskerville;
	font-size: 25px;
}
