<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-11  col-sm-11">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>




<h1>New category</h1>

<%= render 'form' %>

<%= link_to 'Back', categories_path %>
</div></div></div></div>